.portfolio__education {
    color: var(--purple_300) !important;
}

.portfolio__social-link--github {
    height: 24px;
}

.portfolio__technologies-link--reactjs {
    gap: var(--space-lg);
    display: flex;
    align-items: center;
}

.portfolio__technologies-link--java {
    gap: var(--space-md);
    display: flex;
    align-items: center;
}

.portfolio__technologies-icon--user-nodejs {
    height: 34px;
}

.git-user-profile {
    margin-right: 26px;
    gap: var(--space-lg);
    display: flex;
    flex: 1;
    align-items: center;
    align-self: stretch;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}

.portfolio__technologies-item--languages {
    gap: var(--space-md);
    display: flex;
    width: 22%;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 38px;
    border-radius: var(--radius-xs);

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__name {
    color: var(--white) !important;
}

.examples-portfolio {
    gap: 50px;
    background-color: var(--black_900);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 44px;

    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.column {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    gap: 38px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1402px;
}

.column__name {
    color: var(--white) !important;
    text-align: center;
    line-height: 91px;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.column__title {
    margin-left: 78px;
    font-family: Raleway !important;
    @media only screen and (max-width: 1050px) {
        font-size: 34px;
        margin-left: 0px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 32px;
    }
}

.portfolio {
    margin-left: auto;
    background-color: var(--gray_900);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1720px;
    margin-right: auto;
    border-radius: var(--radius-2xl);
    @media only screen and (max-width: 1440px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.portfolio__profile {
    margin-top: 28px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 170px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    @media only screen and (max-width: 1440px) {
        gap: 127px;
    }

    @media only screen and (max-width: 1050px) {
        gap: 127px;
        margin-left: 0px;
        margin-right: 0px;
    }

    @media only screen and (max-width: 550px) {
        gap: 85px;
    }
}

.portfolio__profile-info {
    margin-left: 184px;
    margin-right: 184px;
    gap: 42px;
    display: flex;
    background-color: var(--gray_900_59);
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-radius: var(--radius-md);
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.portfolio__profile-info-row {
    width: 100%;
    margin-right: 50px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__social-links {
    gap: var(--space-xl);
    display: flex;
}

.portfolio__intro {
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width:1050px) {
        flex-direction: column;
    }
}

.portfolio__intro-text {
    gap: var(--space-2xl);
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.portfolio__greeting {
    color: var(--white) !important;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.portfolio__description {
    color: var(--gray_400) !important;
    font-family: Raleway !important;
    width: 72%;
    line-height: 48px;
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__actions {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.portfolio__button--download-cv {
    color: var(--gray_900) !important;
    padding-left: 34px;
    padding-right: 34px;
    background-color: var(--white) !important;
    height: 46px;
    border-radius: 22px !important; 
}

.portfolio__experience-link {
    padding-left: 34px;
    padding-right: 34px;
    align-self: center;
    flex: 1;
    display: flex;
    @media only screen and (max-width: 550px) {
        align-self: stretch;
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__experience-link-row {
    margin-bottom: 8px;
    width: 28%;
    display: flex;
    justify-content: center;
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__experience-link-text {
    color: var(--purple_300) !important;
    font-weight: 500 !important;
}

.portfolio__intro-image {
    height: 378px;
    margin-top: 10px;
    width: 30%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__skills {
    margin-top: 54px;
    margin-left: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
    }
}

.portfolio__skills-image {
    height: 576px;
    width: 34%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__skills-content {
    margin-bottom: 102px;
    padding-left: 126px;
    padding-right: 56px;
    gap: 22px;
    align-self: flex-end;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1440px) {
        padding-left: 32px;
    }

    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__skills-slider {
    width: 96%;
    display: flex;
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__skills-stack {
    gap: var(--space-3xl);
    display: flex;
    width: 100%;
    @media only screen and (max-width: 1050px){
        flex-direction: column;
    }
}

.portfolio__skills-stack-item {
    height: 276px;
    width: 77%;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1440px) {
        height: auto;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        height: auto;
    }
}


.portfolio__skills-row {
    width: 100%;
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__skills-slider-container {
    max-width: 100%;
    display: flex;
    flex: 1;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.portfolio__skills-slider-row {
    display: flex !important;
    align-self: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__skills-item {
    padding-left: 56px;
    padding-right: 56px;
    gap: var(--space-3xl);
    display: flex;
    flex: 1;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__skills-item-column {
    gap: var(--space-xs);
    background-color: var(--light_green_200);
    width: 44%;
    padding: 84px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-icon--settings {
    height: 60px;
    margin-top: 4px;
    width: 50%;
    object-fit: contain;
}

.portfolio__skills-item-column--react {
    gap: var(--space-xs);
    background-color: var(--blue_gray_400);
    width: 44%;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-icon--react {
    height: 52px;
    margin-top: 4px;
    width: 50%;
    object-fit: contain;
}

.portfolio__skills-item-name--nextjs {
    margin-top: 92px;
    align-self: flex-end;
}

.portfolio__skills-placeholder-image {
    height: 276px;
    margin-left: -58px;
    position: relative;
    width: 26%;
    object-fit: contain;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-left: 0px;
    }
}

.portfolio__skills-icon--music {
    height: 52px;
    position: absolute;
    width: 5%;
    object-fit: contain;
    right: 21%;
    top: 33%;
    margin: auto;
}

.portfolio__skills-figma-row {
    height: 276px;
    background-image: url(../public/images/img_group_46.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-figma-column {
    gap: var(--space-xs);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__skills-icon-figma {
    height: 52px;
    width: 10%;
    object-fit: contain;
}

.portfolio__pager-indicator {
    margin-left: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }

    & > .swiper-pagination-bullet {
        background-color: var(--gray_700);
        width: 20px;
        height: 12px;
        cursor: pointer;
        display: inline-block;
        margin-right: 6.33px;
        border-radius: 6px;
    }

    & > .swiper-pagination-bullet-active {
        background-color: var(--blue_gray_100);
        width: 68px;
        height: 12px;
        cursor: pointer;
        display: inline-block;
        margin-right: 6.33px;
        border-radius: 6px;
    }
}

.portfolio__interests {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1440px) {
        gap: 80px;
    }
    
    @media only screen and (max-width: 1050px) {
        gap: 60px;
    }

    @media only screen and (max-width: 550px) {
        gap: var(--space-3xl);
    }
}

.portfolio__interest--javascript {
    color: var(--deep_purple_a100) !important;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.portfolio__interest--react {
    color: var(--deep_purple_a200_01) !important;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.portfolio__interest--coffee {
    color: var(--deep_purple_a700) !important;
    @media only screen and (max-width: 1440px) {
        font-size: 48px;
    }
}

.portfolio__technologies {
    margin-top: 316px;
    padding-left: 56px;
    padding-right: 56px;
    gap: 234px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1440px) {
        gap: 175px;
    }

    @media only screen and (max-width: 1050px) {
        gap: 175px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 550px) {
        gap: 117px;
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__technologies-intro {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 50px;
    display: flex;
    width: 96%;
    flex-direction: column;
    @media only screen and (max-width: 1440px) {
        width: 100%;
        gap: 112px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        gap: 112px;
        margin-left: 0px;
        margin-right: 0px;
    }

    @media only screen and (max-width: 550px) {
        gap: 7
        5px;
    }
}

.portfolio__technologies-title {
    color: var(--gray_300) !important;
    font-family: Raleway !important;
    line-height: 70px;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        font-size: 40px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 34px;
    }
}

.portfolio__technologies-list {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__technologies-item--frontend {
    gap: var(--space-xl);
    align-self: center;
    display: flex;
    width: 22%;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 34px;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__technologies-links {
    margin-bottom: 8px;
    gap: var(--space-lg);
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.portfolio__technologies-links--languages {
    margin-bottom: 8px;
    gap: var(--space-sm);
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.portfolio__technologies-item--devops {
    gap: var(--space-sm);
    width: 22%;
    padding: 22px 34px;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__technologies-list--devops {
    margin-bottom: 8px;
    gap: var(--space-sm);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        flex-direction: row;
        margin-right: 0px;
    }

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.portfolio__technologies-link--nodejs {
    margin-bottom: 56px;
    gap: var(--space-lg);
    align-self: stretch;
    display: flex;
    align-items: center;
}

.portfolio__follow {
    gap: var(--space-2xl);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__follow-input {
    columns: var(--gray_400) !important;
    background-color: var(--gray_800) !important;
    height: 90px;
    border-radius: 44px !important;
}

.mdigithub {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 32px;
    object-fit: contain;
}

.portfolio__copyright {
    margin-left: 70px;
    font-weight: 300 !important;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}