/*  * -----------------------------
    * Styles, fonts, and utilities
    * ----------------------------- */


/* ------------------
    GLOBAL STYLES
 ------------------ */
 body {
    font-size: var(--font-size-base);
    font-family: 'Raleway', sans-serif;
    color: #333;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

input {
    background-color: transparent;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding-left: 40px;
    font-size: unset;
    line-height: unset;
    color: inherit;
}

input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: none;
}



/* --------------------
    TEXT UTILITIES
--------------------- */
.ui.text.size-textxs {
    font-size: 16px;
    font-weight: 400;
    @media only screen and (min-width: 1440px) {
        font-size: 13px;
    }
}

.ui.text.size-textmd {
    font-size: 24px;
    font-weight: 300;
    @media only screen and (min-width: 1440px) {
        font-size: 20px;
    }

    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.ui.text.size-textlg {
    font-size: 40px;
    font-weight: 200;
    @media only screen and (min-width: 1440px) {
        font-size: 34px;
    }
    @media only screen and (max-width: 1050px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 36px;
    }
}

.ui.text.size-textxl {
    font-size: 60px;
    font-weight: 400;
    @media only screen and (min-width: 1440px) {
        font-size: 51px;
    }

    @media only screen and (max-width: 1050px) {
        font-size: 52px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 46px;
    }
}

.ui.text {
    color: var(--white);
    font-family: Nunito;
}

.ui.heading.size-texts {
    font-size: 20px;
    font-weight: 500;
    @media only screen and (min-width: 1440px) {
        font-size: 17px;
    }
}

.ui.heading.size-text2xl {
    font-size: 75px;
    font-weight: 500;
    @media only screen and (min-width: 1440px) {
        font-size: 75px;
    }

    @media only screen and (max-width: 1050px) {
        font-size: 48px;
    }
}

.ui.heading.size-text3xl {
    font-size: 78px;
    font-weight: 500;
    @media only screen and (min-width: 1440px) {
        font-size: 80px;
    }
    @media only screen and (max-width: 1050px) {
        font-size: 48px;
    }
}

.ui.heading.size-headingxs {
    font-size: 16px;
    font-weight: 700;
    @media only screen and (min-width: 1440px) {
        font-size: 13px;
    }
}

.ui.heading.size-headings {
    font-size: 26px;
    font-weight: 700;
    @media only screen and (min-width: 1440px) {
        font-size: 22px;
    }
    @media only screen and (max-width: 1050px) {
        font-size: 24px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 22px;
    }
}

.ui.heading.size-headingmd {
    font-size: 90px;
    font-weight: 600;
    @media only screen and (min-width: 1440px) {
        font-size: 90px;
    }
    @media only screen and (max-width: 1050px) {
        font-size: 48px;
    }
}

.ui.heading {
    color: var(--gray_900_02);
    font-family: Raleway;
}

/* -----------
    FONTS 
------------ */
@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewayMedium.ttf');
    font-family: "Raleway";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewayExtraLight.ttf');
    font-family: "Raleway";
    font-weight: 200;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewayLight.ttf');
    font-family: "Raleway";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/NunitoBold.ttf');
    font-family: "Nunito";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/NunitoMedium.ttf');
    font-family: "Nunito";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewayBold.ttf');
    font-family: "Raleway";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewaySemiBold.ttf');
    font-family: "Raleway";
    font-weight: 600;
}


@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/RalewayRegular.ttf');
    font-family: "Raleway";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/NunitoRegular.ttf');
    font-family: "Nunito";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url('../../../public/fonts/NunitoLight.ttf');
    font-family: "Nunito";
    font-weight: 300;
}

/* --------------
    VARIABLES
-------------- */
:root {
    --black_900: #0A080F;
    --blue_gray_100: #D9D9D9;
    --blue_gray_400: #7C9CA4;
    --deep_orange_300: #FF7262;
    --deep_orange_600:#F24E1E;
    --deep_orange_600_01:#F34F29;
    --deep_purple_a100:#C69AFF;
    --deep_purple_a200:#A259FF;
    --deep_purple_a200_01:#9F52FF;
    --deep_purple_a700:#6104D5;
    --gray_300:#C7C7C7;
    --gray_400:#6E6E6E;
    --gray_400:#C2C2C2;
    --gray_700:#5F5F5F;
    --gray_800:#131313;
    --gray_800:#424242;
    --gray_900:#0C0C0C;
    --gray_900_01:#232323;
    --gray_900_02:#272727;
    --gray_900_03:#1F1F1F;
    --gray_900_59:#0E0E0E;
    --gray_900:#120F19;
    --green_400:#68A063;
    --green_a400:#0ACF83;
    --green_a700:#15A645;
    --light_blue_300:#61DBFB;
    --light_blue_400:#1ABCFE;
    --light_blue_800:#0074BD;
    --light_green_200:#C2C89E;
    --lime_500:#D9F430;
    --orange_500:#FF9900;
    --purple_300:#B291FF;
    --purple_700:#8A4182;
    --red_600:#EA2D2E;
    --teal_100:#C0E5D7;
    --teal_50:#D8E5F8;
    --white:#FFFFFF;

    --font-size-base: 16px; /* Set a base font size */

    --radius-xs: 12px;
    --radius-sm: 22px;
    --radius-md: 34px;
    --radius-lg: 44px;
    --radius-xl: 60px;
    --radius-2xl: 100px;
    --radius-3xl: 200px;

    --space-xs: 10px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
    --space-2xl: 64px;
    --space-3xl: 40px;
    --space-4xl: 150px;


}


/* Border Styles */
.frontendcolumn_border {
    backdrop-filter: blur(1px);
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #232323, #424242, #232323);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 12px;
        border: 3px solid transparent;
    }
}

.languagescolumn_border {
    backdrop-filter: blur(1px);
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #232323, #424242, #232323);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 12px;
        border: 3px solid transparent;
    }
}

.projectscolumn_border {
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #232323, #424242, #232323);
        background-clip: border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 12px;
        border: 3px solid transparent;
    }
}

.flex-col-center-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}