.ui.button.round {
    border-radius: var(--radius-sm);
}

.ui.button.size-xs {
    height: 60px;  
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
}

.ui.button.fill.white {
    background-color: var(--white);
    color: var(--gray_900);
}

.ui.button {
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--gray_900);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--white);
    min-width: 184px;
    border-radius: var(--radius-sm);
    @media only screen and (min-width: 1440px) {
        font-size: 13px;
    }
}

.ui.input.round {
    border-radius: var(--radius-lg);
}

.ui.input.size-xs {
    height: 90px;
    padding-left: var(--space-sm);
    padding-right: 170px;
    font-size: 26px;
}

.ui.input.fill.gray_800 {
    background-color: var(--gray_800);
    color: var(--gray_400);
}

.ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    color: var(--gray_400);
    font-size: 26px;
    gap:var(--space-xl);
    background-color: var(--gray_800);
    align-self: stretch;
    border-radius: var(--radius-lg);
}