/*  * ------------
    * Components
    * ------------ */

    
/* ---------------
    BACKGROUND
--------------- */
.examples-portfolio {
    gap: 50px;
    background-color: var(--black_900);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 44px;

    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}


/* ---------------
    MAIN TITLE
--------------- */
.title {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    gap: 38px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1402px;
}

.title__name {
    color: var(--white) !important;
    text-align: start;
    line-height: 91px;
}

.title__subtitle {
    margin-left: 78px;
    font-family: Raleway !important;
}

/* ----------------------
    PHONE SCREEN FRAME
------------------------ */
/* Screen Container */
.screen-container {
    border-radius: var(--radius-2xl);
    background-color: var(--gray_900); /* Background color */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 2100px; /* Ensure max width */
    padding: 30px 80px 0; /* Adds padding to the top */
    position: relative; /* Allows positioning of child elements (notch, etc.) */
}

/* Content Wrapper */
.content-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1341px; /* Set a max width for better control */
    text-align: center; /* Ensure text is centered */
    z-index: 5; /* Ensure it's on top of the background */
}



/* MEDIA QUERIES - Placed at the bottom */
@media only screen and (max-width: 1440px) {
    .title__name {
        font-size: 48px;
    }
}

@media only screen and (max-width: 1050px) {
    .title__subtitle {
        font-size: 34px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .title__subtitle {
        font-size: 32px;
    }
}
