.portfolio__intro {
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width:1050px) {
        flex-direction: column;
    }
}

.portfolio__intro-text {
    gap: var(--space-2xl);
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}