.portfolio__projects {
    margin: 120px 24px 54px 24px;
    padding: 0px 56px 0px 56px;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    @media only screen and (max-width: 1440px) {
        flex-direction: column;
        margin-left: 0px;
    }
}

.portfolio__projects-intro {
    margin: 100px 20px 100px 20px;
    align-self: center;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 1440px) {
        width: 70%;
        padding-left: 42px;

    }
    @media only screen and (max-width: 1050px) {
        padding-left: 0px;
        margin-left: 0px;
        flex-direction: column;
    }
    @media only screen and (max-width : 550px) {
        width: 50%;
        flex-direction: column;
        margin-left: 0px;
        justify-content: center;
    }
}

.portfolio__projects-title {
    color: var(--gray_300) !important;
    font-family: Raleway !important;
    line-height: 70px;
    @media only screen and (max-width: 2100px) {
        
    }
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        font-size: 40px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 34px;
    }
}

.portfolio__projects-list {
    margin-left: 56px;
    margin-right: 56px;
    align-self: center;
    display: flex;
    @media only screen and (max-width: 2100px) {
        gap: 50px;
        flex-wrap: wrap;
    }
    @media only screen and (max-width: 1050px) {
        width: 75%;
        align-items: center;
        margin-top: 50px;
    }
    @media screen and (max-width:550px) {
        gap: 50px;
    }
}

.portfolio__projects-item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 56px;
    margin-left: 56px;
    height: 420px;
    width: 340px;
    background-color: var(--gray_100);
    border-radius: var(--radius-2xl);
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.portfolio__projects-item--image-container {
    padding: 20px 30px 30px 30px;
    width: 85%;
    background-position: center;
}

.portfolio__projects-item--image {
    border-radius: var(--radius-sm);
    width: 220px;
    height: 170px;
}

.portfolio__projects-item--button-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio__skills-image {
    height: 576px;
    width: 34%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__skills-content {
    margin-bottom: 100px;
    margin-top: 100px;
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 1440px) {
        padding-left: 32px;
    }

    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__skills-slider {
    width: 96%;
    display: flex;
    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.portfolio__skills-stack {
    gap: var(--space-3xl);
    display: flex;
    width: 100%;
    @media only screen and (max-width: 1050px){
        flex-direction: column;
    }
}

.portfolio__skills-stack-item {
    height: 276px;
    width: 77%;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1440px) {
        height: auto;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        height: auto;
    }
}


.portfolio__skills-row {
    width: 100%;
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__skills-slider-container {
    max-width: 100%;
    display: flex;
    flex: 1;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.portfolio__skills-slider-row {
    display: flex !important;
    align-self: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.portfolio__skills-item {
    gap: var(--space-xl);
    display: flex;
    flex: 1;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}

.portfolio__skills-item-column {
    gap: var(--space-xs);
    background-color: var(--light_green_200);
    width: 44%;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-icon--settings {
    height: 60px;
    margin-top: 4px;
    width: 50%;
    object-fit: contain;
}

.portfolio__skills-item-column--react {
    gap: var(--space-xs);
    background-color: var(--blue_gray_400);
    width: 44%;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-item-column--nodejs {
    gap: var(--space-xs);
    background-color: var(--green_400);
    width: 44%;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-item-column--figma {
    gap: var(--space-xs);
    background-color: var(--deep_orange_300);
    width: 44%;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-icon--react {
    height: 52px;
    margin-top: 4px;
    width: 50%;
    object-fit: contain;
}

.portfolio__skills-item-name--nextjs {
    margin-top: 92px;
    align-self: flex-end;
}

.portfolio__skills-placeholder-image {
    height: 276px;
    margin-left: -58px;
    position: relative;
    width: 26%;
    object-fit: contain;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-left: 0px;
    }
}

.portfolio__skills-icon--music {
    height: 52px;
    position: absolute;
    width: 5%;
    object-fit: contain;
    right: 21%;
    top: 33%;
    margin: auto;
}

.portfolio__skills-figma-row {
    height: 276px;
    background-image: url(../public/images/img_group_46.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 50px;
    border-radius: var(--radius-xl);
    @media only screen and (max-width: 1440px) {
        height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: var(--space-xl);
    }
}

.portfolio__skills-figma-column {
    gap: var(--space-xs);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__skills-icon-figma {
    height: 52px;
    width: 10%;
    object-fit: contain;
}