
@media only screen and (max-width: 1440px) {
    .portfolio__technologies {
        gap: 175px;
    }
}

@media only screen and (max-width: 1050px) {
    .portfolio__technologies {
        gap: 175px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .portfolio__technologies {
        gap: 117px;
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
    }
}



@media only screen and (max-width: 1440px) {
    .portfolio__technologies-intro {
        gap: 112px;
    }
}

@media only screen and (max-width: 1050px) {
    .portfolio__technologies-intro {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 550px) {
    .portfolio__technologies-intro {
        gap: 75px;
    }
}



@media only screen and (max-width: 1050px) {
    .portfolio__technologies-title {
        margin-left: 0px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .portfolio__technologies-title {
        font-size: 34px;
    }
}



@media only screen and (max-width: 1050px) {
    .portfolio__technologies-list {
        flex-direction: column;
    }
}



@media only screen and (max-width: 1050px) {
    .portfolio__technologies-item--frontend,
    .portfolio__technologies-item--devops,
    .portfolio__technologies-item--languages {
        width: 100%; /* Full width on smaller screens */
    }
}

@media only screen and (max-width: 550px) {
    .portfolio__technologies-item--frontend,
    .portfolio__technologies-item--devops,
    .portfolio__technologies-item--languages {
        padding: var(--space-xl); /* Adjust padding for smaller screens */
    }
}


@media only screen and (max-width: 1050px) {
    .portfolio__technologies-list--devops {
        flex-direction: row;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .portfolio__technologies-list--devops {
        flex-direction: column;
    }
}
