/*  * ----------------
    * Home Page Layout
    * ---------------- */
    
/* Profile Section */
.profile-image {
    width: 40%; /* Adjust width as necessary */
    object-fit: cover; /* Ensures the image is nicely cropped */
    filter: sepia(0%); /* Remove sepia effect on hover */
    transition: transform 0.3s ease-in-out, 
                filter 0.4s ease-in-out;

}
/* Hover effect */
.profile-image:hover {
    transform: scale(1.1) rotate(3deg); /* Slight zoom + gentle rotation */
    filter: sepia(80%); /* Remove sepia effect on hover */
}

.profile-overview {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns text to the left and image to the right */
    gap: 20px; /* Space between text and image */
    flex-wrap: wrap; /* Allows the content to wrap on smaller screens */
}

.profile-description {
    width: 55%; /* Adjust the width of the text */
    color: var(--gray-400, #6f6f6f);
    margin-top: 28px;
    font: 300 48px Raleway, sans-serif;
}


/* Actions */
.portfolio__actions {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    margin-top: 80px; /* Space between the description and buttons */
}

.portfolio__button--download-cv {
    color: var(--gray_900) !important;
    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

.portfolio__button--download-cv:hover {
    background-color: var(--deep_purple_a700) !important;
    color: var(--white) !important;
    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
}




/* ------------------ 
   PROJECTS SECTION
------------------ */

.projects-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0 var(--space-lg);
}

.projects-heading h2 {
    color: var(--white);
    align-self: center;
    font: 400 60px Raleway, sans-serif;
    margin-bottom: var(--space-xl);
    text-align: center;
}

.projects-heading p {
    color: var(--gray-700);
    align-self: center;
    font: 400 26px Raleway, sans-serif;
    margin-bottom: var(--space-xl);
    text-align: center;
}

.projects-grid {
    width: 100%;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    justify-content: center;
}

/* Card styling */
.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    border-radius: var(--radius-sm);
    border: 2px solid var(--deep_purple_a200_01);
    padding: var(--space-md);
    background-color: var(--deep_purple_a200_01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative; /* Allow positioning of the popup */

}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Popup Message Styling */
.under_construction-popup {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show message on hover */
.project-card:hover .under_construction-popup {
    display: block;
    opacity: 1; /* Fade in when hovered */
}

/* Card content */
.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: var(--space-md);
}

.project-title {
    color: var(--black_900);
    font: bold 22px Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Links styling */
.project-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font: 500 18px Raleway, sans-serif;
    transition: transform 0.3s ease-in-out;
}

.project-links a {
    color: var(--blue_gray_100);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project-links a:hover {
    color: var(--purple_700);
    transform: translateY(-2px);
}

/* Stack styling */
.projects-stack {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm) var(--space-sm);
}

.projects-icon-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.projects-icon-wrapper:hover {
    transform: scale(1.2);
}

.projects-icon {
    width: 8.5rem;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.projects-icon-wrapper:hover .tech-icon {
    opacity: 0.8;
}


/* Interests Section */
.portfolio__interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

.portfolio__interest--javascript {
    color: var(--deep_purple_a100) !important;
}

.portfolio__interest--react {
    color: var(--deep_purple_a200_01) !important;
}

.portfolio__interest--coffee {
    color: var(--deep_purple_a700) !important;
}

.portfolio__interest--javascript,
.portfolio__interest--react,
.portfolio__interest--coffee {
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.portfolio__interest--javascript:hover {
    transform: scale(1.1);
    color: #ffcc00 !important; /* Bright yellow */
    text-shadow: 2px 2px 10px rgba(255, 204, 0, 0.8);
}

.portfolio__interest--react:hover {
    transform: scale(1.1);
    color: #61dafb !important; /* React blue */
    text-shadow: 2px 2px 10px rgba(97, 218, 251, 0.8);
}

.portfolio__interest--coffee:hover {
    transform: scale(1.1);
    color: #6b330b !important; /* Coffee brown */
    text-shadow: 2px 2px 10px hwb(25 2% 64% / 0.8);
}


/* ------------------
    TECHNOLOGIES SECTION
------------------ */
.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    margin: var(--space-lg) 0;
    justify-content: space-around;
    align-items: center;
}


.portfolio__technologies-intro {
    text-align: center;
    margin-bottom: var(--space-xl);
    margin-top: var(--space-4xl);
}

.portfolio__technologies-title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: var(--space-sm);
    color: var(--white); /* More vibrant title color */
}

.portfolio__technologies-description {
    font-size: 26px;
    color: var(--gray_700);
}

/* List of Technologies */
.portfolio__technologies-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    justify-content: center;
}

/* Each section (Frontend, DevOps, Languages) */
.portfolio__technologies-item {
    width: 100%;
    max-width: 300px;
    background: var(--white);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: var(--space-xl);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding transition */
}

/* Section titles (Frontend, DevOps, etc.) */
.portfolio__technologies-item h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: var(--space-md);
    color: var(--gray_900_59);
}

.portfolio__technologies-item:hover {
    transform: scale(1.05); /* Slight zoom-in effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}



/* List styling */
.technologies-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.technologies-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: var(--space-sm);
    font-size: 20px;
    color: var(--gray_900_03);
    transition: color 0.3s ease; /* Smooth transition for text color */
}

.technologies-list li:hover {
    color: var(--white); /* Change text color on hover */
}

/* Icons */
.tech-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transition for icon animation */
}

/* Hover effects for icons */
.technologies-list li:hover .tech-icon {
    transform: scale(1.2); /* Slightly enlarge icon on hover */
    filter: brightness(1.5); /* Brighten the icon */
}


/* Different section background colors (Frontend, DevOps, Languages) */
.frontend {
    background-color: var(--deep_purple_a100);
    border-radius: var(--radius-sm);
}

.devops {
    background-color: var(--deep_purple_a200_01);
    border-radius: var(--radius-sm);
}

.languages {
    background-color: var(--deep_purple_a700);
    border-radius: var(--radius-sm);
}